<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/management.css">
</head>
<body>
    <form action="updatestaff" method="post">
        
        <div class="two">
        <label for="">Name :</label>
        <input type="text" name="name"><br>
    </div>
    
    
    <div class="two">
        <label for="">Phone :</label>
        <input type="number" name="number"><br>
    </div>
    <div class="two">
        <label for="">Email :</label>
        <input type="email" name="email"><br>
    </div>
    <div class="two">
        <label for="">Username :</label>
        <input type="text" name="username"><br>
    </div>
    <div class="two">
        <label for="">Password :</label>
        <input type="text" name="password"><br><br>
    </div>
        <div>
            <button type="submit">Edit</button>
        </div>
    </form>


 

</body>
</html>
</body>
</html>