<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/login.css">
</head>
<body style="background-image: url('/static/bgannounce.jpeg');
background-size:102mm;
background-repeat: no-repeat;
background-position:center;">
    <form action="logincheck" method="post">
        <div class="one">
    <label for="">Username</label>
    <input type="text" name="username"><br>
</div>
<div class="one">
    <label for="">Password</label>
    <input type="password" name="password"><br>
</div>
<div>
    <button type="submit">Login</button>
</div>
</form>
</body>
</html>