<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="./static/profile.css">
</head>
<body>
    <div class="profile">
        <img src="https://via.placeholder.com/100" alt="Profile Icon">
        <h2>Name:{{value[1]}}</h2>
        <p>Department:{{value[2]}} </p>
        <p>Qualification:{{value[3]}}</p>
        <p>Email:{{value[4]}}</p>
        <p>Phone:{{value[5]}}</p>
    </div>
</body>
</html>