body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: darkmagenta;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #2707b8;
}

.select-day {
    margin-top: 20px;
}